@import "tailwindcss";

@theme{
    --color-background: #0C0C0C;
    --color-foreground: #FAF9F6;
    --color-foreground-alt: #f8f6f2;
    --color-border: #292929;
    --color-input: #292929;
    --color-ring: #f8f6f2;
    --radius: 0.5rem;
  
    /* Brand Colors */
    --color-primary: #8A2BE2;  
    --color-primary-hover: #7B27CC;  
    --color-secondary: #FF6EC7; 
    --color-secondary-hover: #FF54BC; 
}
